﻿@model netcore.Models.Invent.SalesOrder
@inject netcore.Data.ApplicationDbContext _context
@{
    Layout = "_AdminlteNetcore";
    var warehouse = _context.Warehouse.ToList();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sales Order
            <small>@Model.salesOrderNumber</small>
        </h1>

    </section>
    @*<div class="pad margin no-print">
            <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h4><i class="fa fa-info"></i> Note:</h4>
                This page has been enhanced for printing. Click the print button at the bottom to print.
            </div>
        </div>*@
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <img src="/images/Athlon_Logo.png">
                    <small class="pull-right">@Model.salesOrderNumber</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-3 invoice-col">
                
                @*<address>
                    <strong>@Model.branch.branchName</strong><br>
                    @Model.branch.street1<br>
                    @Model.branch.street2<br>
                    @Model.branch.city<br>
                </address>*@
                <address>
                    <strong><u>Branch Address</u></strong><br />
                    <strong>@Model.branch.branchName</strong><br>
                    @Model.branch.street1<br>
                    @Model.branch.street2<br>
                    @Model.branch.city<br>
                    <br />
                    <strong>From</strong><br />
                    <strong><u>Warehouse Address</u></strong><br />
                    <strong>@warehouse.Find(x => x.branchId == Model.branchId).warehouseName</strong><br>
                    @warehouse.Find(x => x.branchId == Model.branchId).description<br>
                </address>


            </div>
            <div class="col-sm-3 invoice-col">
                <strong>To</strong>
                <address>
                    <strong>@Model.customer.customerName</strong><br>
                    @Model.customer.street1<br>
                    @Model.customer.street2<br>
                    @Model.customer.city, @Model.customer.country<br>
                    @Model.customer.contact
                    @*attn: @Model.picCustomer*@
                </address>
            </div>
            <div class="col-sm-3 invoice-col">
                <strong>Delivery Address</strong>
                <address>
                    <strong>@Model.customer.customerName</strong><br>
                    @Model.deliveryAddress<br>
                    Contact: @Model.customer.contact
                    @foreach (var item in Model.customer.customerLine)
                    {
                        item.mobilePhone.ToString();
                    }
                </address>
            </div>
            <!-- /.col -->
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
                <b>SO Number:</b> @Model.salesOrderNumber<br>
                <b>DC Number:</b> @Model.deliveryChallanNumber<br>
                <b>Vehicle Number:</b> @Model.vehicleNumber<br>
                <b>SO Date:</b> @Model.soDate.ToString("dd/MMM/yyyy")<br>
                <b>Delivery Date:</b> @Model.deliveryDate.ToString("dd/MMM/yyyy")<br>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <br />
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>Product Model</th>
                            <th>Product Name</th>
                            <th>Product Category</th>
                            <th>Weight Per Piece</th>
                            <th>Qty</th>
                            <th>Total Weight</th>
                            <th>Price</th>
                            @*<th>Description</th>*@
                        </tr>
                    </thead>
                    @{ int rowNo = 0; }

                    <tbody>
                        @foreach (var item in Model.salesOrderLine.OrderBy(x => x.product.productCode))
                        {
                            <tr>
                                <td>@(rowNo += 1)</td>

                                <td>@item.product.productCode</td>
                                <td>@item.product.productName</td>
                                <td>@item.product.productCategory</td>
                                <td>@item.weight</td>
                                <td>@item.qty</td>
                                <td>@item.totalWeight</td>
                                <td>@item.price.ToString()</td>
                                @*<td>@item.product.description.ToString()</td>*@
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <br />
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Descriptions:</p>
                <p class="text-muted" style="margin-top: 10px;">
                    @Model.description
                </p>
                <h5>GST No. - <b>27AAFHJ8918P1ZG</b></h5>
                <h5>PAN No. - <b>AAFHJ8918P</b></h5>
            </div>
            <!-- /.col -->

            <div class="col-xs-6">
                <p class="lead">Total</p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Quantity:</th>
                            <td>@Model.salesOrderLine.Sum(x => x.qty)</td>
                        </tr>
                        <tr>
                            <th>Weight (Kgs)</th>
                            <td>@Model.salesOrderLine.Sum(x => x.totalWeight)</td>
                        </tr>
                        <tr>
                            <th>Price:</th>
                            <td>₹ @(Model.salesOrderLine.Sum(x => x.price))</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.col -->
            @*<br />
            <div class="col-sm-3 invoice-col">
                <br /><br /><br />
                <p class="lead">__________________</p>
                <p class="lead">Signature / Stamp</p>
            </div>
            <div class="col-sm-3 invoice-col text-right">
                <br /><br /><br />
                <p class="lead">__________________</p>
                <p class="lead">Receiver Signature</p>
            </div>*@


            <div class="col-sm-3 invoice-col">
                <br /><br />
                <a href="#"><img src="/images/signature.jpg" width="110"></a>
                <p class="lead">__________________</p>
                <p class="lead">Signature / Stamp</p>
            </div>
            <div class="col-sm-3 invoice-col text-right">
                <br /><br /><br /><br /><br /><br />
                <p class="lead">__________________</p>
                <p class="lead">Receiver Signature</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintSalesOrder", new { id = Model.salesOrderId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
