﻿@model netcore.Models.Invent.Customer


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-bank";
    ViewData["CreateInfo"] = "Customer is an organization that buy products from your company. You sell products to them.";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="customerId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="customerName" class="control-label"></label>
                    <input asp-for="customerName" class="form-control" />
                    <span asp-validation-for="customerName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="registrationDate" class="control-label"></label>
                    <input asp-for="registrationDate"  class="form-control" type="date" />
                    <span asp-validation-for="registrationDate" class="text-danger"></span>
                </div>

            </div>



        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="registrationExpDate" class="control-label"></label>
                    <input asp-for="registrationExpDate" class="form-control" type="date" />
                    <span asp-validation-for="registrationExpDate" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="serviceDate" class="control-label"></label>
                    <input asp-for="serviceDate" class="form-control" type="date" />
                    <span asp-validation-for="serviceDate" class="text-danger"></span>
                </div>
            </div>


        </div>



        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="size" class="control-label"></label>
                    <select asp-for="size" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.BusinessSize>()"></select>
                    <span asp-validation-for="size" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="contact" class="control-label"></label>
                    <input asp-for="contact" class="form-control" />
                    <span asp-validation-for="contact" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="street1" class="control-label"></label>
                    <input asp-for="street1" class="form-control" />
                    <span asp-validation-for="street1" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="city" class="control-label"></label>
                    <input asp-for="city" class="form-control" />
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="province" class="control-label"></label>
                    <input asp-for="province" class="form-control" />
                    <span asp-validation-for="province" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="street2" class="control-label"></label>
                    <input asp-for="street2" class="form-control" />
                    <span asp-validation-for="street2" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="country" class="control-label"></label>
                    <input asp-for="country" class="form-control" />
                    <span asp-validation-for="country" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(document).ready(function () {

            var date = new Date();
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = day + "-" + month + "-" + year;  
            $(".datepicker").attr("value", today);
        });

    </script>
}
