﻿@model netcore.Models.Invent.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-bank";
}



<div class="row">
    <div class="col-md-10">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.customerName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.customerName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.registrationDate)
                        </dt>
                        <dd>

                            @Convert.ToDateTime(Model.registrationDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.registrationExpDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.registrationExpDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.serviceDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.serviceDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.size)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.size)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.contact)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.contact)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.street1)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.street1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.city)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.city)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.province)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.province)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.street2)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.street2)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.country)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.country)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.createdAt).ToString("dd/MM/yyyy")
                        </dd>
                    </dl>                                   
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.customerId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-2">
    </div>
</div>


<div class="row">
    <div class="col-md-10">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-lg-2">First Name</th>
                                    <th class="col-lg-2">Last Name</th>
                                    <th class="col-lg-2">Job Title</th>
                                    <th class="col-lg-2">Mobile</th>
                                    <th class="col-lg-2">Email</th>
                                    <th class="col-lg-1"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","CustomerLine", new { masterid = Model.customerId })')"><i class="fa fa-plus"></i> Add New Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-2">

    </div>
</div>



    <!--modal placeholder-->
    <div class="modal modal-primary fade" id="modalDefault">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
@section Scripts{
      <script>
        var popup, dataTable;
        var entity = 'CustomerLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.customerId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "firstName" },
                    { "data": "lastName" },
                    { "data": "jobTitle" },
                    { "data": "mobilePhone" },
                    { "data": "personalEmail" },
                    {
                        "data": "customerLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                           
                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }

      </script>
}

