﻿@model netcore.Models.Invent.Warehouse


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-cubes";
    ViewData["CreateInfo"] = "Warehouse is commercial building for storage of goods or products. One branch office can have single or multiple warehouse.";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="warehouseId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="warehouseName" class="control-label"></label>
                    <input asp-for="warehouseName" class="form-control" />
                    <span asp-validation-for="warehouseName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="branchId" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="form-group">
                    <label asp-for="customerId" class="control-label"></label>
                    <select asp-for="customerId" class="form-control select2" asp-items="ViewBag.customerId"></select>
                    <span asp-validation-for="customerId" class="text-danger"></span>
                </div>
            </div>*@
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label"></label>
            <input asp-for="description" class="form-control" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
            
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
