﻿@model netcore.Models.Invent.Shipment


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-plane";
    ViewData["CreateInfo"] = "Shipment is a process of delivering the order to your customer. Only [Open] sales order will be available to select for shipment.";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="shipmentId" />
        <div class="form-group hidden">
            <label asp-for="branchId" class="control-label"></label>
            <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="shipmentNumber" class="control-label"></label>
                    <input asp-for="shipmentNumber" class="form-control" />
                    <span asp-validation-for="shipmentNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="salesOrderId" class="control-label"></label>
                    <select asp-for="salesOrderId" id="salesOrderId" class="form-control select2" asp-items="ViewBag.salesOrderId"  ></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="shipmentDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="shipmentDate" class="form-control" type="date" />
                    </div>
                    <span asp-validation-for="shipmentDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
          
            <div class="col-md-6">
                <div class="form-group hidden">
                    <label asp-for="customerId" class="control-label"></label>
                    <select asp-for="customerId" class="form-control select2" asp-items="ViewBag.customerId"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="expeditionType" class="control-label"></label>
                    <select asp-for="expeditionType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ExpeditionType>()"></select>
                    <span asp-validation-for="expeditionType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="expeditionMode" class="control-label"></label>
                    <select asp-for="expeditionMode" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ExpeditionMode>()"></select>
                    <span asp-validation-for="expeditionMode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="customerPO" class="control-label"></label>
                    <input asp-for="customerPO" class="form-control" />
                    <span asp-validation-for="customerPO" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="vehicleNumber" class="control-label"></label>
                    <input asp-for="vehicleNumber" class="form-control" />
                    <span asp-validation-for="vehicleNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="invoice" class="control-label"></label>
                    <input asp-for="invoice" class="form-control" />
                    <span asp-validation-for="invoice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="warehouseId" class="control-label"></label>
                    <select asp-for="warehouseId" class="form-control select2" asp-items="ViewBag.warehouseId"></select>
                    <span asp-validation-for="warehouseId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    $(document).ready(function () {
        //refreshSONumbers();

        //var items = "<option value='0'>Select</option>";
        //$('#warehouseId').html(items);

        @*$("#salesOrderId").empty();

        $("#salesOrderId").select2({

            ajax: {
                url: '@Url.Content("~/")' + "Shipment/RefreshSONumbersDropdown",
                type: "get",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term // search term
                    };
                },
                processResults: function (response) {

                    var results = [];
                    $.each(response, function (k, v) {
                        results.push({
                            id: v.value,
                            text: v.text
                        });
                    });

                    return {
                        results: results
                    };
                },
                cache: false
            }

        });*@


        @*$('#salesOrderId').change(function () {
            var url = '@Url.Content("~/")' + "Shipment/RefreshSONumbersDropdown";

            $.getJSON(url, function (data) {
                var items = '';
                $('#salesOrderId').empty();
                $.each(data, function (i, data) {
                    items += "<option value='" + data.value + "'>" + data.text + "</option>";
                });
                $('#salesOrderId').html(items);
            });
        });*@

        @*$('#salesOrderId').change(function () {
                var url = '@Url.Content("~/")' + "Shipment/GetWarehouseByOrder";
                var ddlsource = '#salesOrderId';
                $.getJSON(url, { salesOrderId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#warehouseId').empty();
                    $.each(data, function (i, warehouse) {
                        items += "<option value='" + warehouse.value + "'>" + warehouse.text + "</option>";
                    });
                    $('#warehouseId').html(items);
                });
            });*@
    });


</script>
}
