﻿@model netcore.Models.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);

}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        @if (Model != null)
        {
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@Model.profilePictureUrl" class="img-circle profilePicture" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@Model.Email</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

        }

        @if (appUser != null)
        {
    <ul class="sidebar-menu" data-widget="tree">


        <li class="header">Dashboard</li>
        @*@if (appUser.HomeRole)
        {
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="fa fa-bar-chart"></i> <span>CRM</span>
                </a>
            </li>
        }*@

        @if (appUser.HomeRole)
        {
            <li class="@Html.IsSelected(controller: "Home")">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-bar-chart"></i> <span>Inventory</span>
                </a>
            </li>
        }

        @if (appUser.StockRole)
        {
            <li class="@Html.IsSelected(controller: "Stock")">
                <a href="@Url.Action("Index", "Stock")">
                    <i class="fa fa-cubes"></i> <span>Stock</span>
                </a>
            </li>
        }



        <li class="header">INWARD MANAGEMENT</li>

        @if (appUser.PurchaseOrderRole)
        {
            <li class="@Html.IsSelected(controller: "PurchaseOrder")">
                <a href="@Url.Action("Index", "PurchaseOrder")">
                    <i class="fa fa-file-text"></i> <span>Inward</span>
                </a>
            </li>
        }

        @if (appUser.ReceivingRole)
        {
            <li class="@Html.IsSelected(controller: "Receiving")">
                <a href="@Url.Action("Index", "Receiving")">
                    <i class="fa fa-truck"></i> <span>Inward Receive</span>
                </a>
            </li>
        }

        <li class="header">OUTWARD MANAGEMENT</li>


        @if (appUser.SalesOrderRole)
        {
            <li class="@Html.IsSelected(controller: "SalesOrder")">
                <a href="@Url.Action("Index", "SalesOrder")">
                    <i class="fa fa-cart-arrow-down"></i> <span>Outward</span>
                </a>
            </li>
        }

        @if (appUser.ShipmentRole)
        {
            <li class="@Html.IsSelected(controller: "Shipment")">
                <a href="@Url.Action("Index", "Shipment")">
                    <i class="fa fa-ship"></i><span> Outward Shipment</span>
                </a>
            </li>
        }

        @*<li class="header">CRM</li>

        @if (appUser.RatingRole)
        {
            <li class="@Html.IsSelected(controller: "Rating")">
                <a href="@Url.Action("Index", "Rating")">
                    <i class="fa fa-star"></i> <span>Rating</span>
                </a>
            </li>
        }

        @if (appUser.ActivityRole)
        {
            <li class="@Html.IsSelected(controller: "Activity")">
                <a href="@Url.Action("Index", "Activity")">
                    <i class="fa fa-bars"></i> <span>Activity</span>
                </a>
            </li>
        }

        @if (appUser.ChannelRole)
        {
            <li class="@Html.IsSelected(controller: "Channel")">
                <a href="@Url.Action("Index", "Channel")">
                    <i class="fa fa-th"></i> <span>Channel</span>
                </a>
            </li>
        }

        @if (appUser.StageRole)
        {
            <li class="@Html.IsSelected(controller: "Stage")">
                <a href="@Url.Action("Index", "Stage")">
                    <i class="fa fa-list-ol"></i> <span>Stage</span>
                </a>
            </li>
        }

        @if (appUser.AccountExecutiveRole)
        {
            <li class="@Html.IsSelected(controller: "AccountExecutive")">
                <a href="@Url.Action("Index", "AccountExecutive")">
                    <i class="fa fa-user"></i> <span>AccountExecutive</span>
                </a>
            </li>
        }

        @if (appUser.LeadRole)
        {
            <li class="@Html.IsSelected(controller: "Lead")">
                <a href="@Url.Action("Index", "Lead")">
                    <i class="fa fa-street-view"></i> <span>Lead</span>
                </a>
            </li>
        }

        @if (appUser.OpportunityRole)
        {
            <li class="@Html.IsSelected(controller: "Opportunity")">
                <a href="@Url.Action("Index", "Opportunity")">
                    <i class="fa fa-dollar"></i> <span>Opportunity</span>
                </a>
            </li>
        }*@

        <li class="header">CUSTOMER / VENDOR</li>

        @if (appUser.CustomerRole)
        {
            <li class="@Html.IsSelected(controller: "Customer")">
                <a href="@Url.Action("Index", "Customer")">
                    <i class="fa fa-user-plus"></i> <span>Customer</span>
                </a>
            </li>
        }


        @if (appUser.VendorRole)
        {
            <li class="@Html.IsSelected(controller: "Vendor")">
                <a href="@Url.Action("Index", "Vendor")">
                    <i class="fa fa-industry"></i> <span>Vendor</span>
                </a>
            </li>
        }

        @if (appUser.WarehouseRole)
        {
            <li class="@Html.IsSelected(controller: "Warehouse")">
                <a href="@Url.Action("Index", "Warehouse")">
                    <i class="fa fa-dashcube"></i> <span>Warehouse</span>
                </a>
            </li>
        }

        <li class="header">INVENTORY MANAGEMENT</li>



        @if (appUser.ProductRole)
        {
            <li class="@Html.IsSelected(controller: "Product")">
                <a  href="@Url.Action("Index", "Product")">
                    <i class="fa fa-tags"></i> <span>Product</span>
                </a>
            </li>
        }

        @if (appUser.BranchRole)
        {
            <li class="@Html.IsSelected(controller: "Branch")">
                <a href="@Url.Action("Index", "Branch")">
                    <i class="fa fa-building-o"></i> <span>Branch</span>
                </a>
            </li>
        }





        @*@if (appUser.TransferOrderRole)
        {
            <li class="@Html.IsSelected(controller: "TransferOrder")">
                <a href="@Url.Action("Index", "TransferOrder")">
                    <i class="fa fa-recycle"></i> <span>Transfer Order</span>
                </a>
            </li>
        }

        @if (appUser.TransferOutRole)
        {
            <li class="@Html.IsSelected(controller: "TransferOut")">
                <a href="@Url.Action("Index", "TransferOut")">
                    <i class="fa fa-upload"></i> <span>Goods Issue</span>
                </a>
            </li>
        }

        @if (appUser.TransferInRole)
        {
            <li class="@Html.IsSelected(controller: "TransferIn")">
                <a href="@Url.Action("Index", "TransferIn")">
                    <i class="fa fa-download"></i> <span>Goods Receive</span>
                </a>
            </li>
        }*@

        @if (appUser.ApplicationUserRole)
        {
            <li class="header">CONFIG</li>
            <li class="@Html.IsSelected(controller: "ApplicationUser")">
                <a href="@Url.Action("Index", "ApplicationUser")">
                    <i class="fa fa-users"></i> <span>User Roles</span>
                </a>
            </li>

        }

        @*<li class="header">BONUS TEMPLATE</li>
        <li class="@Html.IsSelected(controller: "Adminlte", action: "Dashboardv1")">
            <a href="@lte.MVC.Pages.Dashbaordv1.Url" target="_blank">
                <i class="fa fa-gears"></i> <span>Demo</span>
            </a>
        </li>*@
    </ul>

        }



    </section>
    <!-- /.sidebar -->
</aside>
