﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.4.1
    </div>
    <strong>Copyright &copy; 2022 <a href="http://overandall.com">Over & All Tech</a>.</strong> All rights
    reserved.
</footer>