﻿@model netcore.Models.ApplicationUser

<header class="main-header">
    <!-- Logo -->
    <a href="@netcore.MVC.Pages.HomeIndex.Url" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/images/small_logo.png" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/images/logo.png"/></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                @if (Model != null)
                {
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@Model.profilePictureUrl" class="user-image profilePicture" alt="User Image">
                            <span class="hidden-xs">@Model.Email</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="@Model.profilePictureUrl" class="img-circle profilePicture" alt="User Image">
                                <p>
                                    @Model.Email
                                </p>
                            </li>

                            <!-- Menu Footer-->

                            <li class="user-footer">

                                <div class="pull-left">
                                    <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-default btn-flat">Change Password</a>
                                </div>
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                                    </div>
                                </form>

                            </li>
                        </ul>
                    </li>

                }




            </ul>
        </div>
    </nav>
</header>