﻿@model netcore.Models.Invent.Receiving

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-truck";
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.receivingNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.receivingNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.purchaseOrder)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.purchaseOrder.purchaseOrderNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.purchaseOrder.deliveryInwardNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.purchaseOrder.deliveryInwardNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.receivingDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.receivingDate).ToString("dd/MM/yyyy")
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.branch)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.vendor)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.vendor.vendorName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.vendor.contact)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.vendor.contact)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.warehouse)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.warehouse.warehouseName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.vehicleNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.vehicleNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.createdAt).ToString("dd/MM/yyyy")
                        </dd>
                    </dl>                                   
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                    <a asp-action="ShowGSRN" asp-route-id="@Model.receivingId" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print GSRN</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>


<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-lg-1">Sr. No.</th>
                                    <th class="col-lg-5">Product Model</th>
                                    <th class="col-lg-5">Product Name</th>
                                    <th class="col-lg-3">Qty Order</th>
                                    <th class="col-lg-3">Qty Receive</th>
                                    <th class="col-lg-1"></th>
                                </tr>
                            </thead>
                        </table>
                        <div class="col-md-6">
                            <p class="lead"><strong>Total</strong></p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Total Order Quantity:</th>
                                        <td>@Model.receivingLine.Sum(x => x.qty)</td>
                                    </tr>
                                    <tr>
                                        <th>Total Received Quantity:</th>
                                        <td>@Model.receivingLine.Sum(x => x.qtyReceive)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group hidden">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","ReceivingLine", new { masterid = Model.receivingId })')"><i class="fa fa-plus"></i> Add New ReceivingLine</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">

    </div>
</div>



    <!--modal placeholder-->
    <div class="modal modal-primary fade" id="modalDefault">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
@section Scripts{
      <script>
        var popup, dataTable;
        var entity = 'ReceivingLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.receivingId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": null },
                    { "data": "product.productCode" },
                    { "data": "product.productName" },
                    { "data": "qty" },
                    { "data": "qtyReceive" },
                    {
                        "data": "receivingLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-default btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                            return "";//btnEdit + btnDelete;
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": true,
                "searching": true,
                "paging": true,
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    $("td:eq(0)", nRow).html(iDisplayIndex + 1);
                    return nRow;
                },
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }

      </script>
}

