﻿@model netcore.Models.Invent.Receiving
@inject netcore.Data.ApplicationDbContext _context
@{
    Layout = "_AdminlteNetcore";
    var warehouse = _context.Warehouse.ToList();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="logo-mini">Purchase Received</a>
            <small>@Model.receivingNumber</small>
        </h1>

    </section>
    @*<div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            This page has been enhanced for printing. Click the print button at the bottom to print.
        </div>
    </div>*@
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <img src="/images/Athlon_Logo.png">
                    <small class="pull-right">Date: @Model.receivingDate.ToString("dd-MMM-yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <strong>Receiver / Location</strong>
                <address>
                    <strong><u>Branch Address</u></strong><br />
                    <strong>@Model.purchaseOrder.branch.branchName</strong><br>
                    @Model.purchaseOrder.branch.street1<br>
                    @Model.purchaseOrder.branch.street2<br>
                    @Model.purchaseOrder.branch.city<br>
                    <br />
                    <strong><u>Warehouse Address</u></strong><br />
                    <strong>@warehouse.Find(x => x.branchId == Model.branchId).warehouseName</strong><br>
                    @warehouse.Find(x => x.branchId == Model.branchId).description<br>
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <strong>From Vendor</strong>
                <address>
                    <strong>@Model.vendor.vendorName</strong><br>
                    @Model.vendor.street1<br>
                    @Model.vendor.street2<br>
                    @Model.vendor.city<br>
                    @Model.vendor.country<br>
                    @Model.vendor.contact
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>PO Number : </b> @Model.purchaseOrder.purchaseOrderNumber<br>
                <b>GSRN Number : </b> @Model.receivingNumber<br />
                <b>Delivery Inward Number : </b> @Model.purchaseOrder.deliveryInwardNumber<br />
                <b>PO Date : </b> @Model.purchaseOrder.poDate.ToString("dd-MMM-yyyy")<br>
                <b>GSRN Date : </b> @Model.receivingDate.ToString("dd-MMM-yyyy")<br>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>Product Model</th>
                            <th>Product Name</th>
                            <th>Qty Ordered</th>
                            <th>Qty Received</th>
                        </tr>
                    </thead>
                    @{ int rowNo = 0; }

                    <tbody>
                        @foreach (var item in Model.receivingLine.OrderBy(x => x.product.productCode))
                        {
                            <tr>
                                <td>@(rowNo += 1)</td>

                                <td>@item.product.productCode</td>
                                <td>@item.product.productName</td>
                                <td>@item.qty</td>
                                <td>@item.qtyReceive</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Descriptions:</p>
                <p class="text-muted" style="margin-top: 10px;">
                    @Model.purchaseOrder.description
                </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <p class="lead">Total</p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Quantity Ordered:</th>
                            <td>@Model.receivingLine.Sum(x => x.qty)</td>
                        </tr>
                        <tr>
                            <th>Quantity Received</th>
                            <td>@Model.receivingLine.Sum(x => x.qtyReceive)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.col -->
            <br />
            <div class="col-sm-3 invoice-col">
                <a href="#"><img src="/images/signature.jpg" width="110"></a>
                <p class="lead">__________________</p>
                <p class="lead">Signature / Stamp</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintGSRN", new { id = Model.receivingId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
